[Unit]
Description=Monitorización de Quioscos
After=network.target

[Service]
ExecStart=/opt/monitoring/report_status.sh  # Ruta a tu script Bash
Restart=always  # Para asegurarse de que se reinicie en caso de fallo
RestartSec=10    # Espera 10 segundos antes de reiniciar si se cierra

[Install]
WantedBy=multi-user.target
